# Notebook incial EDA para llamadas al 123
--------------------------

In [1]:
# Importar librerias de manipulación de datos

import pandas as pd
import os  
from pathlib import Path

In [8]:
# Definir directorio o ruta

root_dir = Path('.').resolve().parent
filename = 'llamadas123_julio_2022.csv'
file_path = os.path.join(root_dir, 'data', 'raw', filename)
file_path

'/Users/arleyrodriguez/Documents/ESP_BIG_DATA/Lenguajes_y_Herramientas/BIG_DATA_2022/data/raw/llamadas123_julio_2022.csv'

In [26]:
# leer archivo

df = pd.read_csv(file_path, sep=';', encoding='latin-1')

In [24]:
# Encabezados

df.head(3)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24

In [34]:
# Tamaño de la tabla

df.shape

(13055, 11)

In [35]:
# Tipo de elemento

type(df.shape)

tuple

In [36]:
# Tipos de datos de la tabla

df.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [42]:
# Moverse en la tabla

df['EDAD'].value_counts(normalize=True, dropna=False)

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [45]:
len(df['TIPO_INCIDENTE'].unique())

21

In [53]:
lista_columnas = df.columns
lista_columnas[5:8]

Index(['UNIDAD', 'GENERO', 'RED'], dtype='object')

In [54]:
for col in lista_columnas:
    print(col)

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION

In [58]:
# Crear un diccionario vacio

dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = df[col].unique()
    n_unicos = len(lista_unicos)
    dict_reporte[col] = n_unicos
    #print('Columna', col, n_unicos)
print(dict_reporte)

{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [65]:
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient = 'index')
df_reporte.rename({0: 'Conteo'}, inplace=True, axis = 1)
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [68]:
#Guardar la tabla

out_name = 'reporte_' + filename
out_path = os.path.join(root_dir, 'data', 'processed', out_name)
df_reporte.to_csv(out_path)